body{
  background-color: #f0f0f0;
}

sup{
  font-size: 8px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#footer{
  position: fixed;
  bottom: 0;
  font-family: 'Audiowide', cursive;
  color: #252525;
  text-align: center;
  width: 100%;
}

#calculator{
  box-shadow: inset 0 0 5px 3px #6b6b6b;
  background: 
    linear-gradient(#363739, transparent 3%,  transparent 97%,  #363739),
    linear-gradient(transparent, white 3%, transparent 20%);
  background-color: #dddee3;
  border: solid 1PX #121212;
  width: 250px;
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
}

#calcTop{
  display: flex;
  align-items: center;
  height: 50px;
  margin: 5px;

}

#calcBottom{
  display: flex;
  height: 20px;
}

#solarPanel{
  background-color: #456d79;
  padding: 2px;
  border-style: solid;
  border-color: #676c72;
  border: solid 1px;
  border-radius: 5px;
  height: 34px;
  width: 100%;
  display: flex;
}

#solarCell{
  background: linear-gradient(#6b3131, transparent 20%,  transparent 80%,  #6b3131);
  width: 25%;
  height: 95%;
  background-color: #502b2b;
  border: solid 1px;
}

#brand{
  font-family: 'Audiowide', cursive;
  font-weight: bold;
  color:#464646;
  font-size: 20px;
  width: 185px;
  align-self: flex-start;
}

.calcBtn{
  background: linear-gradient(#ffffff81 5%, transparent 10%,  transparent 88%,  #ffffff81);
  background-color: #363739;
  border: solid;
  border-width: 1px;
  border-color: #121212;
  border-radius: 5px 5px 10px 10px;
  color: white;
  padding: 20px 20px 40px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  width: 50px;
  height: 40px;
  margin: 5px 6px;
  padding: 0px;  
}

.clearBtn{
  background-color: #974f65;
}

#calcScreen {
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(#ffffff81 5%, transparent 10%,  transparent 88%,  #ffffff81);
  background-color: #676c72;
  border: solid 1px;
  border-radius: 5px 5px 10px 10px;
  height: 40px;
  margin: 5px;
  padding: 10px 12px 16px 10px;
  text-align: right;
  font-size: 30px;
}

#calcScreenBorder {
  border: solid 1px;
  width: 100%;
  height: 100%;
  display: flex;
}

#calcValue {
  background-color: #999999;
  height: 100%;
  flex: 0 0 85%;
}

#calcOperation {
  background-color:#999999;
  width: 100%;
  padding: 5px;
  font-size: 18px;
}

.calcRow {
  display: flex;
}

